<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% block head %}
	{% block title %}
	{% endblock title %}
	{% block navigation %}
		{% include '/components/navigation_bar.html' %}
	{% endblock navigation %}
{% endblock %}

{% block content %}
	{% include '/components/main_content.html' %}
{% endblock %}

{% block footer %}
	{% include '/components/footer.html' %}
{% endblock footer %}


